html(lang="en")
    head
        title Home — CreativePortfolio
        meta(charset="utf-8")
        meta(name="description", content="Showcasing creativity through a portfolio website")
        meta(property="og:description", content="Showcasing creativity through a portfolio website")
        meta(property="og:title", content="Home — CreativePortfolio")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,500,600,700,800,900|Playfair%20Display:400,500,600,700,800,900")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="relative overflow-hidden")
                div(class="container px-4 mx-auto")
                    div(class="absolute top-0 left-1/2 transform -translate-x-1/2 w-full flex items-center justify-between py-5 z-10")
                        div(class="container px-4 mx-auto flex items-center justify-between")
                            div(class="flex items-center w-auto")
                                div(class="w-auto md:mr-12")
                                    a(class="inline-block", href="#")
                                        img(src="https://shuffle.dev/placeholder/logos/plain.svg?primary=736d5b", alt="", class="h-10")
                                div(class="w-auto hidden lg:block")
                                    ul(class="flex items-center")
                                        li(class="mr-12")
                                            a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Our Work
                                        li(class="mr-12")
                                            a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Insights
                                        li(class="mr-12")
                                            a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Investment Plans
                                        li
                                            a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Who We Are
                            div(class="w-auto hidden lg:block")
                                div(class="flex flex-wrap items-center -m-2")
                                    div(class="auto p-2")
                                        a(href="#", class="group relative inline-flex justify-center")
                                            span(class="relative z-10 inline-flex w-full justify-center px-4 py-2 text-stone-500 font-medium group-hover:text-stone-900 group-focus:text-stone-900 transition duration-200") Sign In
                                            |                       
                                            span(class="get(button-secondary-small-overlay.class)")
                                    div(class="auto p-2")
                                        a(href="#", class="group relative inline-flex justify-center")
                                            span(class="relative z-10 inline-flex w-full justify-center px-3 py-2 text-xs font-medium bg-gradient-to-b from-stone-600 to-stone-500 hover:from-stone-900 text-white border border-stone-100 rounded-xl") Create Account
                                            |                       
                                            span(class="get(button-primary-small-overlay.class)")
                            div(class="w-auto lg:hidden")
                                a(class="inline-block", href="#")
                                    svg(width="51", height="51", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg", class="navbar-burger text-stone-600")
                                        rect(width="56", height="56", rx="28", fill="currentColor")
                                        path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                    div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                        div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                        nav(class="relative z-50 px-9 pt-8 bg-white h-full overflow-y-auto")
                            div(class="flex flex-wrap justify-between h-full")
                                div(class="w-full")
                                    div(class="flex items-center justify-between -m-2")
                                        div(class="w-auto p-2")
                                            a(class="inline-block", href="#")
                                                img(src="https://shuffle.dev/placeholder/logos/plain.svg?primary=736d5b", alt="", class="h-10")
                                        div(class="w-auto p-2")
                                            a(class="navbar-burger text-slate-500", href="#")
                                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M6 18L18 6M6 6L18 18", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                div(class="flex flex-col justify-center py-16 w-full")
                                    ul
                                        li(class="mb-10")
                                            a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Our Products
                                        li(class="mb-10")
                                            a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Services
                                        li(class="mb-10")
                                            a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Insights
                                        li
                                            a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Investment Plans
                                div(class="flex flex-col justify-end w-full pb-8")
                                    div(class="flex flex-wrap -m-2")
                                        div(class="w-full p-2")
                                            a(class="w-full justify-center group relative inline-flex justify-center", href="#")
                                                span(class="w-full justify-center relative z-10 inline-flex w-full justify-center px-4 py-2 text-stone-500 font-medium group-hover:text-stone-900 group-focus:text-stone-900 transition duration-200") Sign In
                                                |                         
                                                span(class="get(button-secondary-small-overlay.class)")
                                        div(class="w-full p-2")
                                            a(class="w-full justify-center group relative inline-flex justify-center", href="#")
                                                span(class="w-full justify-center relative z-10 inline-flex w-full justify-center px-3 py-2 text-xs font-medium bg-gradient-to-b from-stone-600 to-stone-500 hover:from-stone-900 text-white border border-stone-100 rounded-xl") Create Account
                                                |                         
                                                span(class="get(button-primary-small-overlay.class)")
                div(class="flex flex-wrap align-stretch")
                    div(class="relative w-full md:w-1/2")
                        img(class="w-full object-cover bg-slate-300 bg-opacity-40 h-96 md:h-full", src="https://images.unsplash.com/photo-1507120410856-1f35574c3b45?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMzIzMzB8MHwxfGFsbHx8fHx8fHx8fDE3MTY4ODE5Mjd8&ixlib=rb-4.0.3&q=85&w=1280&h=1280", alt="")
                        div(class="hidden md:block absolute inset-0 bg-white opacity-50")
                    div(class="w-full md:w-1/2 md:self-center")
                        div(class="container px-4 mx-auto")
                            div(class="flex flex-wrap lg:items-center py-16 md:px-6")
                                div(class="md:max-w-lg mx-auto")
                                    div(class="relative inline-block mb-5")
                                        span(class="relative z-10 px-4 py-1.5 text-xs text-transparent bg-clip-text bg-gradient-to-r from-stone-300 to-stone-500 border border-stone-500 rounded-full uppercase") Welcome to CreativePortfolio
                                        div(class="get(badge-primary-overlay.class)")
                                    h2(class="font-heading mb-8 text-6xl") Enhance your skills and creativity daily
                                    p(class="mb-8 text-xl text-gray-500") Cultivate a captivating brand that resonates with everyone. Focus on continuous development and integrate with past achievements.
                                    div(class="flex flex-wrap items-center -m-3 mb-20")
                                        div(class="w-auto p-3")
                                            a(href="#", class="group relative inline-flex justify-center")
                                                span(class="relative z-10 inline-flex w-full justify-center px-4 py-3 text-sm font-medium bg-gradient-to-b from-stone-600 to-stone-500 hover:from-stone-900 text-white border border-stone-100 rounded-xl") Start for Free
                                                |                         
                                                span(class="get(button-primary-normal-overlay.class)")
                                        div(class="w-auto p-3")
                                            a(href="#", class="group relative inline-flex justify-center")
                                                span(class="relative z-10 inline-flex w-full justify-center px-4 py-3 text-stone-500 font-medium group-hover:text-stone-900 group-focus:text-stone-900 transition duration-200") Schedule a Demo
                                                |                         
                                                span(class="get(button-secondary-normal-overlay.class)")
                                    div(class="flex flex-wrap items-center -m-7")
                                        div(class="w-auto p-7")
                                            img(src="https://images.unsplash.com/photo-1612935571023-0b7fd24b6f17?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwzfHxhcnRpc3RpYyUyMHNob3djYXNlfGVufDB8Mnx8fDE3NDYyODg1ODF8MA&ixlib=rb-4.0.3&q=80&w=84&h=20", alt="")
                                        div(class="w-auto p-7")
                                            img(src="https://images.unsplash.com/photo-1678982939952-b1b4488e38f5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwyM3x8YXJ0aXN0aWMlMjBzaG93Y2FzZXxlbnwwfDJ8fHwxNzQ2Mjg4NTgxfDA&ixlib=rb-4.0.3&q=80&w=87&h=17", alt="")
                                        div(class="w-auto p-7")
                                            img(src="https://images.unsplash.com/photo-1737596886438-7646c5c2e5fd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwzMHx8YXJ0aXN0aWMlMjBzaG93Y2FzZXxlbnwwfDJ8fHwxNzQ2Mjg4NTgxfDA&ixlib=rb-4.0.3&q=80&w=70&h=20", alt="")
                                        div(class="w-auto p-7")
                                            img(src="simple-assets/logos/brands/brand4.png", alt="")
            section(class="overflow-hidden")
                img(style="height: 342px;", src="https://images.unsplash.com/photo-1619801629168-3835adcafd74?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwxNnx8YXJ0aXN0aWMlMjBzaG93Y2FzZXxlbnwwfDJ8fHwxNzQ2Mjg4NTgxfDA&ixlib=rb-4.0.3&q=80&w=1440&h=340", alt="", class="w-full h-full object-cover rounded-xl")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap py-16 -m-8")
                        div(class="w-full md:w-1/3 p-8")
                            div(class="text-center max-w-xs mx-auto")
                                div(class="inline-block mx-auto mb-5")
                                    div(class="relative inline-flex")
                                        div(class="relative z-10 flex items-center justify-center w-12 h-12 text-stone-600 bg-gradient-to-b from-stone-600 to-stone-500 hover:from-stone-900 text-white rounded-full")
                                            svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(d="M13.6 10.9C13.7 11 13.8 11 14 11H21C21.6 11 22 10.6 22 10C22 9.8 22 9.7 21.9 9.6L18.4 2.6C18.1 2.1 17.5 1.9 17 2.2C16.9 2.3 16.7 2.4 16.6 2.6L13.1 9.6C12.9 10 13.1 10.6 13.6 10.9ZM17.5 5.2L19.4 9H15.6L17.5 5.2ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2ZM6.5 9C5.1 9 4 7.9 4 6.5C4 5.1 5.1 4 6.5 4C7.9 4 9 5.1 9 6.5C9 7.9 7.9 9 6.5 9ZM10.7 13.3C10.3 12.9 9.7 12.9 9.3 13.3L6.5 16.1L3.7 13.3C3.3 12.9 2.7 12.9 2.3 13.3C1.9 13.7 1.9 14.3 2.3 14.7L5.1 17.5L2.3 20.3C1.9 20.7 1.9 21.3 2.3 21.7C2.7 22.1 3.3 22.1 3.7 21.7L6.5 18.9L9.3 21.7C9.7 22.1 10.3 22.1 10.7 21.7C11.1 21.3 11.1 20.7 10.7 20.3L7.9 17.5L10.7 14.7C11.1 14.3 11.1 13.7 10.7 13.3ZM21 13H14C13.4 13 13 13.4 13 14V21C13 21.6 13.4 22 14 22H21C21.6 22 22 21.6 22 21V14C22 13.4 21.6 13 21 13ZM20 20H15V15H20V20Z", fill="currentColor")
                                h6(class="font-heading mb-3 text-base") Robust Data Protection and Access Management
                                p(class="text-sm text-gray-500") Keep your valuable data secure with top-tier encryption and precise access controls.
                        div(class="w-full md:w-1/3 p-8")
                            div(class="text-center max-w-xs mx-auto")
                                div(class="inline-block mx-auto mb-5")
                                    div(class="relative inline-flex")
                                        div(class="relative z-10 flex items-center justify-center w-12 h-12 text-stone-600 bg-gradient-to-b from-stone-600 to-stone-500 hover:from-stone-900 text-white rounded-full")
                                            svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(d="M13.6 10.9C13.7 11 13.8 11 14 11H21C21.6 11 22 10.6 22 10C22 9.8 22 9.7 21.9 9.6L18.4 2.6C18.1 2.1 17.5 1.9 17 2.2C16.9 2.3 16.7 2.4 16.6 2.6L13.1 9.6C12.9 10 13.1 10.6 13.6 10.9ZM17.5 5.2L19.4 9H15.6L17.5 5.2ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2ZM6.5 9C5.1 9 4 7.9 4 6.5C4 5.1 5.1 4 6.5 4C7.9 4 9 5.1 9 6.5C9 7.9 7.9 9 6.5 9ZM10.7 13.3C10.3 12.9 9.7 12.9 9.3 13.3L6.5 16.1L3.7 13.3C3.3 12.9 2.7 12.9 2.3 13.3C1.9 13.7 1.9 14.3 2.3 14.7L5.1 17.5L2.3 20.3C1.9 20.7 1.9 21.3 2.3 21.7C2.7 22.1 3.3 22.1 3.7 21.7L6.5 18.9L9.3 21.7C9.7 22.1 10.3 22.1 10.7 21.7C11.1 21.3 11.1 20.7 10.7 20.3L7.9 17.5L10.7 14.7C11.1 14.3 11.1 13.7 10.7 13.3ZM21 13H14C13.4 13 13 13.4 13 14V21C13 21.6 13.4 22 14 22H21C21.6 22 22 21.6 22 21V14C22 13.4 21.6 13 21 13ZM20 20H15V15H20V20Z", fill="currentColor")
                                h6(class="font-heading mb-3 text-base") Fully Adaptable and User-Friendly Interface
                                p(class="text-sm text-gray-500") Tailor your experience and navigate seamlessly through our intuitive, feature-packed UI designed for your needs.
                        div(class="w-full md:w-1/3 p-8")
                            div(class="text-center max-w-xs mx-auto")
                                div(class="inline-block mx-auto mb-5")
                                    div(class="relative inline-flex")
                                        div(class="relative z-10 flex items-center justify-center w-12 h-12 text-stone-600 bg-gradient-to-b from-stone-600 to-stone-500 hover:from-stone-900 text-white rounded-full")
                                            svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(d="M13.6 10.9C13.7 11 13.8 11 14 11H21C21.6 11 22 10.6 22 10C22 9.8 22 9.7 21.9 9.6L18.4 2.6C18.1 2.1 17.5 1.9 17 2.2C16.9 2.3 16.7 2.4 16.6 2.6L13.1 9.6C12.9 10 13.1 10.6 13.6 10.9ZM17.5 5.2L19.4 9H15.6L17.5 5.2ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2ZM6.5 9C5.1 9 4 7.9 4 6.5C4 5.1 5.1 4 6.5 4C7.9 4 9 5.1 9 6.5C9 7.9 7.9 9 6.5 9ZM10.7 13.3C10.3 12.9 9.7 12.9 9.3 13.3L6.5 16.1L3.7 13.3C3.3 12.9 2.7 12.9 2.3 13.3C1.9 13.7 1.9 14.3 2.3 14.7L5.1 17.5L2.3 20.3C1.9 20.7 1.9 21.3 2.3 21.7C2.7 22.1 3.3 22.1 3.7 21.7L6.5 18.9L9.3 21.7C9.7 22.1 10.3 22.1 10.7 21.7C11.1 21.3 11.1 20.7 10.7 20.3L7.9 17.5L10.7 14.7C11.1 14.3 11.1 13.7 10.7 13.3ZM21 13H14C13.4 13 13 13.4 13 14V21C13 21.6 13.4 22 14 22H21C21.6 22 22 21.6 22 21V14C22 13.4 21.6 13 21 13ZM20 20H15V15H20V20Z", fill="currentColor")
                                h6(class="font-heading mb-3 text-base") Team Collaboration and Task Management
                                p(class="text-sm text-gray-500") Boost teamwork and enhance project workflows with real-time collaboration tools, task assignments, and monitoring features.
            section(class="pt-24 pb-20 overflow-hidden")
                div(class="container px-4 mx-auto")
                    div(class="mb-12")
                        div(class="relative inline-block mb-5")
                            span(class="relative z-10 px-4 py-1.5 text-xs text-transparent bg-clip-text bg-gradient-to-r from-stone-300 to-stone-500 border border-stone-500 rounded-full uppercase") Get in Touch
                            |               
                            span(class="get(badge-primary-overlay.class)")
                        h3(class="font-heading mb-6 text-4xl") We can’t wait to connect!
                        p(class="text-base text-gray-500") Questions, feedback, or need support? We’re ready to assist!
                    div(class="flex flex-wrap -m-8")
                        div(class="w-full md:w-1/2 p-8")
                            div(class="max-w-lg mx-auto md:ml-0")
                                img(src="https://images.unsplash.com/photo-1700716224917-46cb3d9a7082?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwxNHx8YXJ0aXN0aWMlMjBzaG93Y2FzZXxlbnwwfDJ8fHwxNzQ2Mjg4NTgxfDA&ixlib=rb-4.0.3&q=80&w=486&h=496", alt="", class="w-full h-full object-cover rounded-xl")
                        div(class="w-full md:w-1/2 p-8")
                            div(class="relative max-w-xl")
                                div(class="flex flex-wrap -m-3")
                                    div(class="w-full md:w-1/2 p-3")
                                        div(class="mb-2")
                                            label(for="default-label-13", class="text-xs text-gray-500") First Name
                                        input(id="default-label-13", type="text", placeholder="First Name", class="flex w-full px-4 py-3 text-base bg-gray-100 placeholder-gray-500 disabled:placeholder-gray-300 rounded-xl outline-none")
                                    div(class="w-full md:w-1/2 p-3")
                                        div(class="mb-2")
                                            label(for="default-label-14", class="text-xs text-gray-500") Last Name
                                        input(id="default-label-14", type="text", placeholder="Last name", class="flex w-full px-4 py-3 text-base bg-gray-100 placeholder-gray-500 disabled:placeholder-gray-300 rounded-xl outline-none")
                                div(class="flex flex-wrap -m-3")
                                    div(class="w-full p-3")
                                        div(class="mb-2")
                                            label(for="default-label-15", class="text-xs text-gray-500") Email
                                        input(id="default-label-15", type="text", placeholder="Email Address", class="flex w-full px-4 py-3 text-base bg-gray-100 placeholder-gray-500 disabled:placeholder-gray-300 rounded-xl outline-none")
                                div(class="flex flex-wrap -m-3")
                                    div(class="w-full p-3")
                                        div(class="mb-2")
                                            label(for="default-label-16", class="text-xs text-gray-500") Your Message
                                        textarea(id="default-label-16", type="text", placeholder="Message", rows="6", class="flex w-full px-4 py-3 text-base bg-gray-100 placeholder-gray-500 disabled:placeholder-gray-300 rounded-xl outline-none resize-none")
                                div(class="flex flex-wrap -m-3")
                                    div(class="w-full p-3")
                                        div(class="flex items-center mb-5")
                                            div(class="mr-2")
                                                input(id="custom-checkbox10", type="radio", name="confirm", value="yes", class="")
                                            label(for="custom-checkbox10", class="text-base text-gray-500")
                                                | You agree to our
                                                a(class="hover:text-slate-600 underline", href="#") Privacy Policy
                                        a(href="#", class="group relative inline-flex w-full text-center")
                                            span(class="relative z-10 w-full px-4 py-3 text-sm font-medium bg-gradient-to-b from-stone-600 to-stone-500 hover:from-stone-900 text-white border border-stone-100 rounded-xl") Submit
                                            |                       
                                            span(class="get(button-primary-full-width-overlay.class)")
            section(class="pt-16 overflow-hidden")
                div(class="container px-4 mx-auto")
                    div(class="pb-12 border-b border-slate-100")
                        div(class="flex flex-wrap -m-8")
                            div(class="w-full md:w-1/2 lg:w-8/12 p-8")
                                div(class="max-w-xl")
                                    div(class="mb-6")
                                        img(src="https://shuffle.dev/placeholder/logos/plain.svg?primary=736d5b", alt="", class="h-10")
                                    h5(class="font-heading text-xl") With a vast array of ready-made components and templates, effortlessly build and tailor your UI elements to reflect your brand’s vision and style.
                            div(class="w-full md:w-1/2 lg:flex-1 p-8")
                                ul
                                    li(class="mb-3")
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Offerings
                                    li(class="mb-3")
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Our Story
                                    li(class="mb-3")
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Legal Information
                                    li(class="mb-3")
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Client Reviews
                                    li
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Common Questions
                            div(class="w-full md:w-1/2 lg:flex-1 p-8")
                                ul
                                    li(class="mb-3")
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") 46 Brannon Street
                                    li(class="mb-3")
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") Los Angeles, CA 90017
                                    li(class="mb-3")
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") +1 213-325-5468
                                    li
                                        a(href="#", class="inline-block text-sm text-gray-600 hover:text-gray-900") welcome@creativeportfolio.com
                    div(class="flex flex-wrap items-center justify-between py-8 -m-2")
                        div(class="w-auto p-2")
                            p(class="text-base text-gray-500") © 2025 CreativePortfolio. All rights reserved.
                        div(class="w-auto p-2")
                            p(class="text-base text-gray-500") Crafted in Gostyń, Poland ❤️
