// bento 60
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-60
                .bento-60__grid
                    img(src="img/bento-60.png" alt="")
        .bento__details
            .bento__title Flash Sales (Test PNG)
            .bento__content Boost sales with time-limited offers and lightning-fast promotions.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle