<!-- Description no longer than 155 characters -->
<meta name="description" content="Bento Cards: E-commerce"/>

<!-- Product Name -->
<meta name="product-name" content="Bento Cards: E-commerce"/>

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@ui8"/>
<meta name="twitter:title" content="Bento Cards: E-commerce"/>
<meta name="twitter:description" content="Transform your digital marketplace with Bento Cards v3: E-commerce"/>
<meta name="twitter:creator" content="@ui8"/>
<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="https://bento.ui8.net/03/img/media/twitter-card.png"/>

<!-- Open Graph data for Facebook -->
<meta property="og:title" content="Bento Cards: E-commerce"/>
<meta property="og:type" content="Article"/>
<meta property="og:url" content="https://ui8.net/ui8/products/bentocards-ecommerce"/> 
<meta property="og:image" content="https://bento.ui8.net/03/img/media/fb-og-image.png"/>
<meta property="og:description" content="Transform your digital marketplace with Bento Cards v3: E-commerce"/>
<meta property="og:site_name" content="Bento Cards: E-commerce"/>
<meta property="fb:admins" content="132951670226590"/>

<!-- Open Graph data for LinkedIn -->
<meta property="og:title" content="Bento Cards: E-commerce"/>
<meta property="og:url" content="https://ui8.net/ui8/products/bentocards-ecommerce"/>
<meta property="og:image" content="https://bento.ui8.net/03/img/media/linkedin-og-image.png"/>
<meta property="og:description" content="Transform your digital marketplace with Bento Cards v3: E-commerce"/>

<!-- Open Graph data for Pinterest -->
<meta property="og:title" content="Bento Cards: E-commerce"/>
<meta property="og:url" content="https://ui8.net/ui8/products/bentocards-ecommerce"/>
<meta property="og:image" content="https://bento.ui8.net/03/img/media/pinterest-og-image.png"/>
<meta property="og:description" content="Transform your digital marketplace with Bento Cards v3: E-commerce"/>